html {
  box-sizing: border-box;
  background-color: #eee9de;
  color: #333;
  font-family: Lato, sans-serif;
  margin: 1.5rem;
  line-height: 1.5;
  padding: 1em;
  display: inline-block;
  text-align: left;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  margin: 1.5rem;
  vertical-align: middle;
}

h2 {
  font-weight: bold;
  display: block;
}

.btn {
  border-width: .2em;
  border-style: solid;
  border-radius: .5em;
  color: #333;
  padding: .4em .75em .5em;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  float: left;
}
